header#header
  div.flex.items-center
    div.flex-auto.p2
      a(href='#intro' data-scroll)
        img(src='static/img/Studio-CortiW.png' width='80' height='67')
    div.p2
      ul.list-reset(data-gumshoe)
        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#mission' data-scroll)
            span.block Mission

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#chisiamo' data-scroll)
            span.block Chi siamo

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#servizi' data-scroll)
            span.block Servizi

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#settori' data-scroll)
            span.block Settori

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#clienti' data-scroll)
            span.block Clienti

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#contatti' data-scroll)
            span.block Contatti
