header#header
  div.flex.items-center
    div.flex-auto.p2
      a(href='#intro' data-scroll)
        img(src='/static/img/studiocorti-logo-header.png' width='83' height='39')
    div.p2
      ul.list-reset(data-gumshoe)
        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#mission' data-scroll) Mission

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#servizi' data-scroll) Servizi

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#' data-scroll) Progetti

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#' data-scroll) Settori

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#' data-scroll) Clienti

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#' data-scroll) Contatti

        li.inline-block.align-middle
          button.btn
            span Area Clienti

