header#header
  div.flex.items-center
    div.flex-auto.p2
      a(href='#intro' data-scroll)
        img(src='/static/img/studiocorti-logo-header.png' width='80' height='80')
    div.p2
      ul.list-reset(data-gumshoe)
        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#mission' data-scroll)
            span.block Mission

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#servizi' data-scroll)
            span.block Servizi

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#progetti' data-scroll)
            span.block Progetti

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#settori' data-scroll)
            span.block Settori

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#clienti' data-scroll)
            span.block Clienti

        li.inline-block.align-middle.mr1
          a.block.p1.text-decoration-none(href='#contatti' data-scroll)
            span.block Contatti

        li.inline-block.align-middle
          a.block.btn.text-decoration-none(href='#')
            span Area Clienti
