.container
  .px2.py4

    ul.list-reset.tab-list.center

    .spacer-20

    .swiper-container
      .swiper-wrapper
        .swiper-slide(data-icon='fa-pencil-square-o' data-label='Progettazione')
          h1.mb0 Progettazione innovativa e ad-hoc con i migliori partner
          h3.mt0 Progettazione

          .clearfix.mxn2
            .md-col.md-col-6.px2
              p Progettiamo e realizziamo scegliendo le modalità tecniche più idonee per soddisfare specifiche esigenze, aggiornando e migliorando la nostra offerta alla luce degli sviluppi più aggiornati che tecnologia e mercato offrono, selezionando accuratamente partner ed operando nel rispetto delle normative in vigore.

            .md-col.md-col-6.px2
              .services-list.pr1
                ul.list-reset.list-circle
                  li.pb2 Progettazione impianti elettrici civili ed industriali
                  li.pb2 Progettazione impianti di illuminazione campi sportivi
                  li.pb2 Progettazione impianti di illuminazione stradale
                  li.pb2 Progettazione impianti fotovoltaici
                  li.pb2 Progettazione e assistenza alla messa in servizio di macchine per il risparmio energetico
                  li.pb2 Progettazione e assistenza alla messa in servizio di gruppi elettrogeni/Cogenerazione
                  li.pb2 Valutazione calcolo probabilistico di fulminazione degli edifici
                  li.pb2 Classificazione aree con pericolo di esplosione in conformità alle norme CEI EN 60079-10-1:2010
                  li.pb2 Redazione documento di protezione contro le esplosioni,
                  li.pb2 Redazione documento analisi del rischio elettrico (VDRE)
                  li.pb2 Termografie svolte da personale certificato di secondo livello (Termografie quantitative al fine di individuare la tempistica di intervento in un’ottica di manutenzione predittiva)
                  li.pb2 Calcolo della DPA (Distanza di prima approssimazione) per cabine e linee elettriche
                  li.pb2 Coordinamento dell'esecuzione dei lavori, tenendo conto del contesto in cui si inseriscono, con particolare attenzione, nel caso di interventi urbani, ai problemi della accessibilità e della manutenzione degli impianti e dei servizi di rete
                  li.pb2 Programmazione generale di tutte le attività (gestionali, progettuali, esecutive) nell'ottica di soddisfare le esigenze del Committente
                  li.pb2 Elaborazione di Vendor List specifiche in funzione della natura delle lavorazioni e delle aspettative del Committente
                  li.pb2 Supporto tecnico e commerciale per la richiesta di offerte,
                  li.pb2 Predisposizione di specifiche ad ho per manutenzioni, acquisto di macchine di  generazione di emergenza o di cogenerazione/Trignerazione
                  li.pb2 Verifica della qualifica dei fornitori per quanto concerne gli aspetti tecnici ed economici
                  li.pb2 Verifica degli standard di sicurezza e dei livelli tecnico-qualitativi
                  li.pb2 Valutazione analitica e comparazione tecnica, economica e qualitativa delle offerte con l'obbiettivo di rispondere alle esigenze del Committente per la realizzazione dell'opera
                  li.pb2 Valutazione in termini di impatto ambientale e di ottimizzazione energetica delle offerte
                  li.pb2 Direzione dei lavori e / o direzione del cantiere,
                  li.pb2 Coordinamento della sicurezza di cantiere ai sensi del Decreto Legislativo 81/08 "Testo Unico della Sicurezza" sia in fase di progettazione che di esecuzione,
                  li.pb2 Assistenza e/o espletamento delle prove funzionali e dei collaudi finali
                  li.pb2 Verifica di fine lavori con emissione del certificato di regolare esecuzione
                  li.pb2 Validazione prestazioni degli ottimizzatori di energia,
                  li.pb2 Sviluppo di reti per il monitoraggio dei consumi energetici (sia in campo elettrico che nel meccanico inteso come fluidi quali gas, acqua ecc)

        .swiper-slide(data-icon='fa-leaf' data-label='Energie Rinnovabili')
          h1.mb0 Energie rinnovabili per un ridotto impatto ambientale
          h3.mt0 Energie rinnovabili

          .clearfix.mxn2
            .md-col.md-col-6.px2
              p Lo Studio Corti privilegia da sempre l’impiego di energie rinnovabili, capaci di assicurare elevate prestazioni a fronte di un ridotto impatto ambientale. Ci occupiamo della progettazione di impianti di produzione di energia da fonti rinnovabili e di interventi di efficienza energetica, a partire dalle prime fasi di pianificazione sino alla loro gestione operativa.

            .md-col.md-col-6.px2
              .services-list.pr1
                ul.list-reset.list-circle
                  li.pb2 Progettazione e connessione impianti fotovoltaici (compreso iter amministrativo dall’autorizzazione  all’attivazione)
                  li.pb2 Progettazione di impianti di cogenerazione gruppi gas/biogas/diesel
                  li.pb2 Verifiche strumentali e collaudo impianti fotovoltaici (In energia e potenza)
                  li.pb2 Verifiche strumentali impianti di cogenerazione gas/biogas/diesel
                  li.pb2 Progettazione e assistenza alla messa in servizio di macchine per il risparmio energetico
                  li.pb2 Analisi energetiche edifici industriali, grande distribuzione e terziario


        .swiper-slide(data-icon='fa-battery-full' data-label='Efficientamento Energetico')
          h1.mb0 Efficienza energetica, misurabile e verificabile
          h3.mt0 Efficientamento Energetico

          .clearfix.mxn2
            .md-col.md-col-6.px2
              p
                | In questo settore lo Studio Corti ha maturato competenze nella realizzazione e redazione di diagnosi energetiche per numerose aziende italiane.
                br
                | I servizi offerti sono finalizzati al miglioramento dell’efficienza energetica, misurabile e verificabile attraverso precisi strumenti. In quest’ambito lavoriamo dalla esecuzione della diagnosi energetica fino alla progettazione e realizzazione.

            .md-col.md-col-6.px2
              .services-list.pr1
                ul.list-reset.list-circle
                  li.pb2 Audit energetici
                  li.pb2 Servizi di Consulenza di Energy Management
                  li.pb2 Studi di Fattibilità, Progettazione Preliminare ed Esecutiva
                  li.pb2 Project e Construction Management, Coordinamento della Sicurezza
                  li.pb2 Titoli di Efficienza Energetica
                  li.pb2 Implementazione del Sistema di Gestione dell’Energia
                  li.pb2 Progettazione e realizzazione sistemi di monitoraggio dei consumi remotizzati

        .swiper-slide(data-icon='fa-check-square-o' data-label='Verifiche Strumentali')
          h1.mb0 Verifiche strumentali specialistiche
          h3.mt0 Verifiche Strumentali

          .clearfix.mxn2
            .md-col.md-col-6.px2
              p Lo Studio Corti, con l'ausilio di un'unità mobile dotata di appositi strumenti, pc per la gestione degli interventi e archiviazione delle misure, è in grado di analizzare in loco le apparecchiature presenti in svariati luoghi, seguendo un piano di intervento specifico e rilevando le eventuali non conformità.

            .md-col.md-col-6.px2
              .services-list.pr1
                ul.list-reset.list-circle
                  li.pb2 Validazione degli interventi di efficientamento energetico con verifiche strumentali puntuali
                  li.pb2 Analisi Termografiche mediante operatore certificato di 2° Livello
                  li.pb2 Taratura e verifica dispositivi di connessione/interfaccia per utenti attivi e passivi in media e bassa tensione
                  li.pb2 Misura della resistenza di isolamento per cavi di Media Tensione con tensione applicata fino a 80 kV
                  li.pb2 Verifiche in ambito medico ed ospedaliero
                  li.pb2 Verifica su apparecchiature elettromedicali
                  li.pb2 Misura Campi elettrici e magnetici
                  li.pb2 Verifiche strumentali impianti di sicurezza: Riv.Fumo, Riv. Gas, Impianti evac
                  li.pb2 Certificazione macchine secondo EN 60204
                  li.pb2 Analisi acustiche
                  li.pb2 Analisi illuminotecniche
                  li.pb2 Analisi parametri di rete alimentazione industriali, grande distribuzione, terziario, civile ed ospedaliero


        .swiper-slide(data-icon='fa-suitcase' data-label='Consulenze')
          h1.mb0 Consulenza qualificata
          h3.mt0 Consulenze

          .clearfix.mxn2
            .md-col.md-col-6.px2
              p Offriamo costantemente un supporto di consulenza per aziende nell’ambito elettrico.

            .md-col.md-col-6.px2
              .services-list.pr1
                ul.list-reset.list-circle
                  li.pb2 Classificazione aree con pericolo di esplosione
                  li.pb2 Redazione documento di protezione contro le esplosioni
                  li.pb2 Redazione documento analisi del rischio elettrico
                  li.pb2 Valutazione calcolo probabilistico di fulminazione degli edifici
                  li.pb2 Redazione documentazione D.A.I.E.  ai sensi della Legge Regionale Lombarda n. 31/2015
                  li.pb2 Pratiche prevenzioni incendi

script.
  (function () {

    var swiperServiziTab = [];
    document.querySelectorAll('#servizi .swiper-container .swiper-slide').forEach(function (sl) {
      swiperServiziTab.push({
        icon: sl.getAttribute('data-icon'),
        label: sl.getAttribute('data-label')
      });
    });

    var swiperServizi = new Swiper('#servizi .swiper-container', {
      direction: 'horizontal',
      loop: true,
      bulletClass: 'tab-item',
      bulletActiveClass: 'tab-item-active',
      pagination: '#servizi .tab-list',
      paginationClickable: true,
      paginationBulletRender: function (index, className) {
        return '<li class="inline-block align-middle center px2 py1 mx1 ' + className + ' tab-' + index + '"><i class="fa ' + swiperServiziTab[index].icon + '"></i><strong class="block">' + swiperServiziTab[index].label + '</strong></li>';
      }
    });
    window.swiperServizi = swiperServizi;

  })();
