extends layout

block title
  | Homepage - Welcome

// block ogtag

// block head

block app
  #intro.page.page-fullscreen.page-image(style='background-image: url("/static/img/background-intro.jpg");')
    .container
      include partials/header

      .spacer-100
      .spacer-100
      .spacer-100
      .spacer-100

      #mission.p2.pb4
        p.center.max-width-3.mx-auto La profonda conoscenza della tecnologia elettrica e la competenza tecnica maturate in 22 anni sul campo sono il punto di forza strategico per fornire soluzioni di qualità ed in linea con le aspettative del mercato;
        p.center.max-width-3.mx-auto Inoltre fanno del nostro team, consolidato e affiatato  da anni di attività, un interlocutore di alto livello tecnico in grado di comprendere le più sofisticate esigenze dei clienti e tradurle in soluzioni concrete.

  #chisiamo.page.page-light
    .container
      .px2.py4.center

        h3.mb0 Chi siamo
        h1.mt0 Studio Corti – Dal 1994 professionalità e competenza

        .max-width-2.mx-auto.mt3
          p 
            | Lo Studio Corti nasce nel 1994 come impresa individuale, in seguito, per rispondere alle richieste di mercato, si espande e ad oggi si avvale di 10 collaboratori.
            br
            | Lo Studio opera principalmente nel settore elettrico e con partnership nei settori prevenzione incendi nonché condizionamento garantendo la massima professionalità e competenza. La nostra struttura è estremamente snella e consente di dare risposte rapide e competitive con il più alto livello di tecnologia e qualità.

  #servizi.page
    include partials/servizi

  #progetti.page

  #settori.page.page-light
    .container
      .px2.pt4.pb3.center
        h3.mb0 Settori

    .hexagon-container
      .hexagon
        p Grande
          br
          | distribuzione
          br
          | organizzata
        .tooltip.p2.left-align Studio Corti opera in questo settore da molti anni e non si occupa solo della progettazione di impianti elettrici/meccanici e antincendio, ma in seguito ad Audit Energetici, propone le migliori soluzioni per l’ottimizzazione di energia elettrica.
      .hexagon
        p Industriale
        .tooltip.p2.left-align Studio Corti, anche in questo settore, come per quello della GDO, non si occupa solo della progettazione, ma fornisce le soluzioni migliori in base alle specifiche esigenze.
      .separator
      .hexagon
        p Pubblico
        .tooltip.p2.left-align Studio Corti non opera solo con grandi aziende ospedaliere, ma anche di studi medici,  dentistici  e più in generale locali ad uso medico.
      .hexagon
        p Centri
          br
          | Sportivi
        .tooltip.tooltip-left.p2.left-align Studio Corti ha un’ esperienza in centri sportivi, non solo in campo da calcio, ma spaziamo da quest’ultimi alle palestre. Anche in questo settore, dove sempre più importante è l’efficientamento energetico, offriamo risposte in linea con il mercato.
      .hexagon
        p Privati
        .tooltip.tooltip-left.p2.left-align Studio Corti opera anche con privati e di fatto si fa carico delle specifiche necessità del cliente in modo serio e attendibile garantendo anche per i privati un ottimo servizio.

    .spacer-80

  #clienti.page
    .container
      .px2.py4.center

        h3.mb0 Clienti

        .max-width-2.mx-auto.mt3
          p Il Cliente può decidere, in fase d’offerta, se ricorrere ad un servizio completo oppure richiedere l’intervento soltanto per alcune fasi, come ad esempio:
        .max-width-2.mx-auto.mt3
          small
            ul.list-reset
              li.pb2 Elaborazione di stime e studi di fattibilità
              li.pb2 Progettazione di impianti elettrici e speciali
              li.pb2 Direzione lavori, verifica della contabilità
              li.pb2 Collaudi e prove, finali ed in corso d’opera
              li.pb2 Pianificazione e gestione dei servizi di manutenzione
              li.pb2 Espletamento pratiche e rapporti con Enti vari
        
        .clearfix.flex.flex-wrap.justify-center
          img.client-logo(src='static/img/loghi/Logo-Auchan.png' alt='Auchan')
          img.client-logo(src='static/img/loghi/Logo-Autogrill.png' alt='Autogrill')
          img.client-logo(src='static/img/loghi/Logo-Coop.png' alt='Coop')
          img.client-logo(src='static/img/loghi/Logo-Eni.png' alt='Eni')
          img.client-logo(src='static/img/loghi/Logo-Eon.png' alt='Eon')
          img.client-logo(src='static/img/loghi/Logo-Frigerio.png' alt='Frigerio')
          img.client-logo(src='static/img/loghi/Logo-Goglio.png' alt='Goglio')
          img.client-logo(src='static/img/loghi/Logo-Limonta.png' alt='Limonta')
          img.client-logo(src='static/img/loghi/Logo-Metro.png' alt='Metro')
          
        
  #contatti.page
    include partials/contatti



// block script
