extends layout

block title
  | Homepage - Welcome

// block ogtag

// block head

block app
  #intro.page.page-fullscreen.page-image(style='background-image: url("/static/img/background-intro.jpg");')
    .container
      include partials/header

      .spacer-100
      .spacer-100
      .spacer-100
      .spacer-100

      #mission.p2.pb4
        h1.center.mb3 XXX - Excepteur sint occaecat cupidatat non proident
        p.center.max-width-3.mx-auto La competenza tecnica maturata in anni di esperienza nel settore elettrico, unite al continuo  aggiornamento sono il nostro punto di forza strategico per fornire soluzioni di qualità ed in linea con le aspettative del mercato.
        p.center.max-width-3.mx-auto La profonda conoscenza della tecnologia elettrica e l’esperienza maturata sul campo in molti settori applicativi fanno del nostro team un interlocutore di alto livello tecnico in grado di comprendere le più sofisticate esigenze dei clienti e tradurle in soluzioni concrete.
        p.center.max-width-3.mx-auto Il team consolidato e affiatato da anni di attività permette di affrontare progetti di notevole complessità  e importanza in tempi ridotti.

  #chisiamo.page.page-light
    .container
      .px2.py4.center

        h3.mb0 Chi siamo
        h1.mt0 XXX - Dal 1994 professionalità e competenza

        .max-width-2.mx-auto.mt3
          p 
            | Lo Studio Corti nasce nel 1994 come impresa individuale, in seguito, per rispondere alle richieste di mercato, si espande e ad oggi si avvale di 10 collaboratori.
            br
            | Lo Studio opera principalmente nel settore elettrico e con partnership nei settori prevenzione incendi nonché condizionamento garantendo la massima professionalità e competenza. La nostra struttura è estremamente snella e consente di dare risposte rapide e competitive con il più alto livello di tecnologia e qualità.

  #servizi.page
    include partials/servizi

  #progetti.page

  #settori.page.page-light
    .container
      .px2.pt4.pb3.center

        h3.mb0 Settori
        h1.mt0 XXX - Quis nostrud exercitation ullamco laboris nisi
        .max-width-2.mx-auto.mt3
          p XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    .hexagon-container
      .hexagon
        p Grande
          br
          | distribuzione
          br
          | organizzata
        .tooltip.p2.left-align XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .hexagon
        p Industriale
        .tooltip.p2.left-align XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .hexagon
        p Ospedaliero
        .tooltip.tooltip-left.p2.left-align XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .separator
      .hexagon
        p Civile
        .tooltip.p2.left-align XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .hexagon
        p Pubblico
        .tooltip.p2.left-align Studio Corti non opera solo con grandi aziende ospedaliere, ma anche di studi medici, dentistici e  più in generale locali ad uso medico. 
      .hexagon
        p Centri
          br
          | Sportivi
        .tooltip.tooltip-left.p2.left-align Studio Corti ha un’ esperienza in nei centri sportivi, non solo il campo da calcio, ma spaziamo da  quest’ultimi alle palestre. Anche in questo settore sta dove è sempre più importante l’efficientamento energetico offriamo risposte in linea con il mercato.
      .hexagon
        p Privati
        .tooltip.tooltip-left.p2.left-align Studio Corti opera anche con privati e di fatto si fa carico delle specifiche necessità del cliente in modo serio e attendibile garantendo anche per i privati un ottimo servizio.

    .spacer-80

  #clienti.page
    .container
      .px2.py4.center

        h3.mb0 Clienti
        h1.mt0 XXX - Duis aute irure dolor in reprehenderit in voluptate velit esse 

        .max-width-2.mx-auto.mt3
          p XXX - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
        
        .clearfix
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
          .sm-col.sm-col-3.md-col-2
            p Cliente x
        
        
  #contatti.page
    include partials/contatti

// block script
