doctype html
html
  head
    title
      block title
        | Welcome

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    // Basic SEO improvements
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(name='description', content='')

    block ogtag
      // Open Graph protocol - Discover more at http://ogp.me/
      meta(property='og:title', content='')
      meta(property='og:url', content='')
      meta(property='og:description', content='')
      meta(property='og:image', content='')

    // CDN stuff
    link(rel='stylesheet' href='//npmcdn.com/basscss@8.0.1/css/basscss.min.css')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

    // nu-based CSS files
    link(rel='stylesheet' href='static/css/style.css')

    // Cross-platform favicon resources - Discover more at https://realfavicongenerator.net/blog/favicon-why-youre-doing-it-wrong/
    meta(name='msapplication-TileColor' content='#584843')
    meta(name='msapplication-TileImage' content='/static/img/mstile-icon.png')
    link(rel='apple-touch-icon' href='static/img/apple-touch-icon.png')
    link(rel='shortcut icon' href='static/img/favicon.ico')
    link(rel='icon' href='static/img/favicon.png' type='image/png')

    block head

  body

    block app

    script(src='static/js/main.js')
    block script
