doctype html
html(lang="it")
  head
    title
      block title
        | Studio Corti
    meta(charset='utf-8')
    meta(lang='it')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name="google-site-verification" content="cxt1ievg331jZKL3aVGBdmFdeVJQlJnwwEUY8GtnG4A")

    // Basic SEO improvements
    meta(name='keywords', content='progettazione impianti elettrici, led, energie rinnovabili, impianti fotovoltaici, illuminazione pubblica, classificazione, studio corti, efficientamento energetico, diagnosi energetiche, illuminazione, rogeno')
    meta(name='author', content='Studio Corti di Corti per. ind. Alessandro')
    meta(name='description', content='Lo Studio opera nel settore elettrico e con partnership nei settori prevenzione incendi nonché condizionamento garantendo la massima professionalità e competenza. La nostra struttura è estremamente snella e consente di dare risposte rapide e competitive con il più alto livello di tecnologia e qualità.')

    block ogtag
      // Open Graph protocol - Discover more at http://ogp.me/
      meta(property='og:title', content='Studio Corti di Corti per. ind. Alessandro')
      meta(property='og:url', content='studiocorti.eu')
      meta(property='og:description', content='Lo Studio opera nel settore elettrico e con partnership nei settori prevenzione incendi nonché condizionamento garantendo la massima professionalità e competenza. La nostra struttura è estremamente snella e consente di dare risposte rapide e competitive con il più alto livello di tecnologia e qualità.')
      meta(property='og:image', content='http://studiocorti.eu/static/img/Studio-Corti.png')

    // CDN stuff
    link(rel='stylesheet' href='//npmcdn.com/basscss@8.0.1/css/basscss.min.css')
    link(rel='stylesheet' href='//npmcdn.com/basscss-btn@1.1.1/css/btn.css')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Hind:300,400,500,600,700')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css')

    // nu-based CSS files
    link(rel='stylesheet' href='static/css/style.css')
    link(rel='icon' href='static/img/favicon.png' type='image/png')

    script(src='//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/9.1.1/js/smooth-scroll.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/gumshoe/3.0.2/js/gumshoe.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js')

    script(src='static/js/polyfill.js')

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script async src="https://www.googletagmanager.com/gtag/js?id=UA-110965143-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110965143-1');

    block head

  body

    block app

    script(src='static/js/main.js')
    block script
